*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: sans-serif;
}
/* .container{
  /* margin: 2px 10%; 
}*/ 
.offers-section{
  background-image: url("background.jpg");
  background-size: cover;
  background-position:  center;
  display: flex;
  height: 35vw;
}
.offers-box{
  display: flex;
  flex-direction: column;
  font-size: min(20px,2vw);
  margin: 4% 4%;
  padding: 20px;
  background-color: white;
  height: 170px;
  width: 435px;
  box-shadow: 2px 2px 2px 2px #efefef;
}
.mobile-screen-text{
  display: none;
  margin-top: 10px;
  font-size: min(20px,2vw);
  padding-left:2vw;

}

h3,h4{
  font-weight: normal;
}


.Courses-overview{
  font-size: min(20px,2vw);
  padding: 2%;
}

.Courses-overview ul{
  margin: 1% 0px;
}
.Courses-overview li{
  margin-right: 1vw;
  display: inline;
  color:gray;
}

.courses-categories{
  background:none;
  border: none;
  font-size: min(20px,1vw);
  color:#777077;
  font-weight: bold;
}

.courses-categories:hover{
  color: #1c1d1f;
  cursor: pointer;
}

.courses-container{
  display: flex;
  border: 1px solid #d1d7dc;
  flex-direction: column;
  font-size: min(20px,2vw);
  padding: 3vw;
  width: 75vw;
}

.courses-container .Text-info{
  width:70vw;
}

.explore{
  width: min(30vw,100px);
 
  font-size: min(10px,2vw);
  display: inline !important;
}
.explore:hover
{
  background-color: rgb(204, 195, 195);
}

.courses-flex-box{
  display: flex;
  flex-wrap:wrap;
}

.course img{
  width:200px;
  height: 50%;
}

.course {
  width: 200px;
  height: 50%;
  margin-right: 15px;
  margin-bottom: 5px;
}

.course:hover{
  cursor: pointer;
}

.course h2{
  font-size: min(20px,2vw);
  margin: 5px 0px;
}

.course span{
  font-size: min(20px,1vw);
  color:grey;
}
.fa-star,.rating{
  font-size: min(15px,1vw);
  color:#ffa500 !important;
  display: inline-block;
  text-align: left;
} 
.card-img-top {
  width: 100%;
 margin-bottom: 10px;
  object-fit: cover;
}

.course-name{
  font-weight:  bold;
  font-size: 15px;
  text-align: left;
}
.course-price
{
  font-size: 20px;
  color:black;
  text-align: left;
  font-weight: bold;
}
.course-rate{
  font-size: min(20px,1vw);
  color:grey;
  
  font-weight: bold;
}
.author-name{
  text-align: left;
  font-size: min(20px,1vw);
  color:grey;

}
