@media (max-width:800px) {
    .login-button, .signup-button,.search,.categories-button{
        display: none;
    }
    .side-menu,.small-screen-search{
        display: inline;
    }
    .mobile-screen-text{
        display: block;
    }
    .offers-box{
       display: none;
    }
}

@media (max-width:1100px){
    .navbar-elements{
        display: none;
    }
}

